@media (min-width: 1024px) {

}

@media (min-width: 740px) and (max-width: 1024px) {
    .tickets-content .button {
        padding: 14px 20px;
    }

    .form-submit {
        padding: 14px 20px;
    }

    .form-control{
        padding: 15px;
    }

    .contact-info{
        line-height: 2;
    }

    .footer-icon {
        font-size: 42px;
    }

    #footer{
        padding: 32px 0;
    }

    #footer .text-footer {
        font-size: 28px;
        margin: 12px 0;
    }
}

@media (max-width: 740px) {
    .s-col-full{
        width: 100%;
    }

    #header{
        overflow: hidden;
    }
    
    #header .search {
        display: none;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav > li {
        display: block;
    }

    #nav{
        display: block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav li a {
        color: #fff;
        padding: 2px 32px;
    }

    #mobile-menu-btn{
        display: block;
    }

    .team1 .team-img {
        width: 60%;
        margin-bottom: 15px;
    }

     #content .team1 {
        text-align: center;
        width: 100%;
    } 

    .buy-style {
        width: 100%;
        padding-bottom: 16px;
    }

    .form-submit {
        width: 100%;
    }

    .contact-info{
        line-height: 1.8;
    }

    .tickets-content .button {
        width: 100%;
    }

}