/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

/* CSS dung chung */
.clear{
    clear: both;
}

.text-white{
    color: #fff !important;
}

.text-center{
    text-align: center !important;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.mt-8{
    margin-top: 8px;
}

.mt-16{
    margin-top: 16px;
}

.col-half{
    width: 50%;
}

.col-full{
    width: 100%;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col-third{
    width: 33.33333333%;
}

.contact-form{
    font-size: 15px;
}

.contact-info{
    margin-top: 16px;
    font-size: 15px;
    line-height: 1.6;
}

.form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-submit{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 11px 17px;
    float: right;
    margin-bottom: 16px;
}

.form-submit:hover{
    background-color: #ccc;
    color: #000;
}

#header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 46px;
    background-color: black;
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav li a{
    display: block;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
}

#nav>li:hover>a{
    background-color: #ccc;
    color: #000;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav .subnav li {
    display: block;
    /* position: absolute; */
}

#nav .subnav li a{
    color: black;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav .subnav{
    display: none;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav li:hover{
    background-color: #ccc;
}

.ti-angle-down{
    font-size: 13px;
}
#header .search{
    display: inline-block;
    float: right;
    padding: 0px 24px;
    cursor: pointer;
}

#mobile-menu-btn{
    float: right;
    display: none;
    padding: 14px 24px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
}

#mobile-menu-btn:hover{
    background-color: #ccc;
    color: #000;
}

.search:hover{
    background-color: #f44336!important;
}

#header .ti-search{
    color: #fff;
    line-height: 46px;
}
#slider{
    position: relative;
    color: #fff;
    margin-top: 46px;
    padding-top: 50%;
    background: url(/F8_Band/img/Slider/chicago.jpg) top center / cover no-repeat;
}
#slider #content-slider{
    position: absolute;
    padding-bottom: 32px;
    bottom: 0;
    width: 100%;

}

#slider #slider1{
    text-align: center;
    margin: 10px 0;
}

#slider #slider2{
    text-align: center;
    margin: 15px 0;
}

#content{
    width: 100%;
    margin: 0 auto;
}

.comtact-content{
    margin-top: 48px;
}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
}

#content .section-sub-heading{
    font-size: 15px;
    font-style: italic;
    opacity: 0.5;
    margin-top: 25px;
    text-align: center;
}

#content .about-section{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .team1{
    text-align: center;
    float: left;
    width: 33.333333%;
}

#content #about-team {
    margin-top: 48px;
    overflow: hidden;
    padding-bottom: 32px;
}

#content .team-text{
    font-size: 15px;
    margin: 15px 0px;
}

.team1 .team-img{
    width: 154px;
    /* height: 154px; */
    border-radius: 4px;
}

.tour-section{
    background-color: #000;
}

.tickets{
    margin-top: 35px;
    color: #ddd;
    background-color: #fff;
    list-style-type: none;
}

.tickets li{
    color: #757575;
    border-bottom: #ddd solid 1px;
    font-size: 15px;
    padding: 8px 16px;
}
.sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 2px 8px;
    margin-left: 7px;
}

.quality{
    float: right;
    color: #fff;
    background-color: #000;
    padding: 6px;
    border-radius: 50%;
    text-align: center;
    line-height: 8.6px;
}

.buy-tickets{
    margin-top: 32px;
    overflow: hidden;
    padding-bottom: 32px;
}

.buy-style{
    width: 33.3333333333%;
    padding-bottom: 16px;
}

.tickets-content{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.city{
    display: block;
    width: 100%;
}

.tickets-content .place{
    padding-bottom: 16px;
}

.tickets-content .time{
    padding-bottom: 16px;
}

.tickets-content .dect{
    line-height: 1.4;
    padding-bottom: 16px;
}

.tickets-content .button{
    background-color: black;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    display: inline-block;
}

.tickets-content .button:hover{
    background-color: #ccc;
    color: #000;
}

.city:hover{
    opacity: 0.6;
}

.contact-section{
    margin-top: 47px;
    overflow: hidden;
    padding-bottom: 32px;
}

.contact{
    float: left;
    width: 50%;
    line-height: 1.7;
    font-size: 18px;
}

.type-contact{
    list-style-type: none;
}

.if-contact{
    float: left;
    width: 50%;
}

.contact-content{
    margin-top: 32px;
    padding-bottom: 32px;
}

.name{
    padding: 8px 13px;
    border: #ccc solid 1px;
    float: left;
    line-height: 23px;
}

.email{
    padding: 8px 13px;
    border: #ccc solid 1px;
    float: left;
    margin-left: 19px;
    line-height: 23px;
}

.message{
    padding: 8px;
    border: #ccc solid 1px;
    float: left;
    line-height: 23px;
    margin-top: 8px;
    width: 100%;
}

.if-contact .send{
    background-color: #000;
    color: #fff;
    font-weight: 60px;
    border-color: #000;
    margin-top: 16px;
    padding: 8px 16px;
    float: right;
    border: none;
}

.if-contact .send:hover{
    background-color: #ccc;
    cursor: pointer;
    border: none;
    /* border-style: none ; */
    border-color: #ccc;
    color: #000;
}

.ti-email, .ti-location-pin, .ti-mobile{
    margin-right: 8px;
}

.img-map{
    position: relative;
    width: 100%;
    padding-top: 50%;
    background: url(/F8_Band/img/content/map.jpg) top center / cover no-repeat;
}

#footer{
    width: 100%;
    padding: 64px 0;
}

#footer .text-footer{
    width: 100%;
    color: rgb(168, 167, 167);
    font-size: 15px;
    margin: 15px 0;
}

.text-footer a{
    color:rgb(168, 167, 167);
}

.ti-facebook,
.ti-instagram,
.ti-youtube,
.ti-pinterest-alt,
.ti-twitter,
.ti-linkedin{
    width: 20px;
}

.footer-icon{
    font-size: 20px;
}

.footer-icon  a{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.ti-facebook:hover,
.ti-instagram:hover,
.ti-youtube:hover,
.ti-pinterest-alt:hover,
.ti-twitter:hover,
.ti-linkedin:hover{
    opacity: 0.5;
}

.modal{
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.open{
    display: flex !important;
}

.modal-container {
    position: relative;
    background-color: #fff;
    width: 900px;
    min-height: 150px;
    animation: ModalFace ease 0.35s;
}

.close-modal{
    position: absolute;
    right: 0;
    padding: 16px 16px;
}

.close-modal:hover{
    background-color: #ccc;
    color: #000;
}

.modal-header {
    padding: 42px 16px;
    background-color: #009688!important;
    text-align: center;
    font-size: 30px;
    color: #fff;
}

.modal-label{
    display: block;
    margin: 15px 0;
    font-size: 15px;
}

.modal-body{
    padding: 0 16px;
}

.input{
    padding: 8px 8px;
    width: 100%;
}

.pay{
    margin: 16px 0;
    padding: 16px 16px;
    background-color: #009688;
    border: none;
    width: 100%;
    font-size: 15px;
    color: #fff;
}

.pay:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.modal-footer{
    padding: 0 16px;
    text-align: right;
    margin: 16px 0 32px;
}

.modal-footer a{
    color: #2196f3;
} 

.ti-check{
    font-size: 20px;
}

.ti-bag{
    margin-right: 8px;
}

@keyframes ModalFace{
    from{
        transform: translateY(-1500px);
    }
    to{
        transform: translateY(0);
    }
}
